# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.elf
*.log
*.pcap
*.img
*.hdd
*.iso

bootblock
serial
trace.txt
sync.sh

vendor
/.vscode
*.out
logs

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
vbox-instancelistener-base.vmdk
VboxBhojpurInstanceListener/
vbox-instancelistener-copy.vmdk
tmp/
test/scripts/build.out
__pycache__/
containers/container-versions.go
_debug

cmd/listener/bindata/

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

_output
.DS_Store
gopath

*.swp
/.tags
/.idea
/.trash-cache
.vagrant/
/.kube
/.cache
/.*_history
/.viminfo
/.lesshst
/bin
/etc
/build
/dist
*.tmp